# Dictionary

In [93]:
# dict is a mutable datatype in python
# A python dict is a collection of key and value pair separated by a : & enclosed with a {} surly brackets
# key must be unique in dict, and duplicate values are allowed

## Create Dictionary

In [98]:
mydict = dict() # empty dict
mydict

{}

In [99]:
type(mydict)

dict

In [101]:
mydict = dict({1:'one',2:'two',3:'three'})  # creating dict using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [102]:
mydict = {'A':'one','B':'two','C':'three'}  # dict wityh character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [104]:
mydict = {1:'one','A':'two',3:'three'}   # dict with mix keys and value
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [105]:
mydict.keys()  # return dict key by using key()

dict_keys([1, 'A', 3])

In [106]:
mydict.values() # return all values by using value()

dict_values(['one', 'two', 'three'])

In [107]:
mydict.items() # acess each key value pair with item()funtion

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [108]:
mydict = {1:'one',2:'two','A':['Asif','jhon','maria']} # dict with nexted dict
mydict

{1: 'one', 2: 'two', 'A': ['Asif', 'jhon', 'maria']}

In [109]:
mydict = {1:'one',2:'two','A':['Asif','jhon','maria'],'B':['bat','cat','hat']}
mydict

{1: 'one',
 2: 'two',
 'A': ['Asif', 'jhon', 'maria'],
 'B': ['bat', 'cat', 'hat']}

In [110]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,value) # creating a dict from a sequance
mydict3

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [111]:
keys = {'a','b','c','d'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value) # creating a dict from a sequance
mydict3

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [112]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

## Accessing Items

In [113]:
mydict = {1:'one','A':'two',3:'three',4:'four'}
mydict

{1: 'one', 'A': 'two', 3: 'three', 4: 'four'}

In [115]:
mydict[1]  # access using key

'one'

In [116]:
mydict.get(1)  # access using the get() method

'one'

In [117]:
mydict1 = {'name':'asif','id':74123,'DOB': 1991,'Job':'Analyst'}
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [119]:
mydict1['name']

'asif'

In [122]:
mydict1.get('Job')

'Analyst'

## Add, Remove & change Items

In [123]:
mydict1 = {'name':'asif','id':74123,'DOB': 1991,'Address':'Hlsinki'}
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Address': 'Hlsinki'}

In [124]:
mydict1['DOB'] = 1992        # chnageing the dict items
mydict1['Address'] = 'Delhi'
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1992, 'Address': 'Delhi'}

In [126]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1995, 'Address': 'Delhi'}

In [129]:
mydict['Job'] = 'Analyts'  # adding items using dict
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1995, 'Address': 'Delhi'}

In [130]:
mydict1.popitem()    # from poopitem() a random item will remove

('Address', 'Delhi')

In [131]:
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1995}

In [132]:
del[mydict1['id']]      # remove item using del method
mydict1

{'name': 'asif', 'DOB': 1995}

In [133]:
mydict1.clear()    # deletinh the whole dict items
mydict1

{}

In [134]:
del mydict1    # deleting the dictionary object

In [135]:
mydict1

NameError: name 'mydict1' is not defined

## Copy Dictionary

In [136]:
mydict = {'name':'asif','id':74123,'DOB': 1991,'Address':'Hlsinki'}
mydict

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Address': 'Hlsinki'}

In [137]:
mydict1 = mydict # creating a new reference dict

In [138]:
id(mydict1),id(mydict)

(2051805502464, 2051805502464)

In [139]:
mydict2 = mydict.copy()

In [140]:
id(mydict2)

2051780095808

In [141]:
mydict['Address'] = 'mumbai'
mydict

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Address': 'mumbai'}

In [142]:
mydict1

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Address': 'mumbai'}

In [143]:
mydict2

{'name': 'asif', 'id': 74123, 'DOB': 1991, 'Address': 'Hlsinki'}

## Loop through a dictionary

In [145]:
mydict1 = {'name':'asif','id':74123,'DOB': 1991,'Address':'Hlsinki','Job':'Anylyst'}
mydict1

{'name': 'asif',
 'id': 74123,
 'DOB': 1991,
 'Address': 'Hlsinki',
 'Job': 'Anylyst'}

In [150]:
for i in mydict1:
    print(i)     # print key

name
id
DOB
Address
Job

In [151]:
for i in mydict1:
    print(i, ':', mydict1[i])     # keys and value pair

name : asif
id : 74123
DOB : 1991
Address : Hlsinki
Job : Anylyst

In [153]:
for i in mydict1:
    print(mydict1[i])    # print dict items

asif
74123
1991
Hlsinki
Anylyst

## Dictionary membership

In [154]:
mydict1 = {'name':'asif','id':74123,'DOB': 1991,'Address':'Hlsinki','Job':'Anylyst'}
mydict1

{'name': 'asif',
 'id': 74123,
 'DOB': 1991,
 'Address': 'Hlsinki',
 'Job': 'Anylyst'}

In [155]:
'name' in mydict1

True

In [156]:
'Job' in mydict1

True

In [157]:
'id' in mydict1

True

In [158]:
'Height' in mydict1

False

## ALL/ANY

In [159]:
mydict1 = {'name':'asif','id':74123,'DOB': 1991,'Address':'Hlsinki','Job':'Anylyst'}
mydict1

{'name': 'asif',
 'id': 74123,
 'DOB': 1991,
 'Address': 'Hlsinki',
 'Job': 'Anylyst'}

In [161]:
all(mydict1)

True

In [162]:
any(mydict1)

True