In [3]:
a = 10

In [4]:
1a = 10

SyntaxError: invalid decimal literal (482919702.py, line 1)

In [5]:
a1 = 20

In [6]:
a1

20

In [7]:
a& = 9

SyntaxError: invalid syntax (3110738997.py, line 1)

In [8]:
# Datatypes
# int ( numbers)
# float ( interger having decimal in their value)
# str ( text form)
# boolean ( value either True or False)
# complex ( equation [ i+2j]) 
# interpeter will execute the code line by line 
# compiler excute the whole programe at a time

In [9]:
# type conversion and  Type casting
# it will convert one datatype to another automatically 
# but type casting means we have to convert the one datatype to another manually

In [10]:
# Datastructure 
# Inbuild datastructure and User define Datastructure
- list ( copy,append,remove,add,pop,sort,count,extend,clear,insert,reverse)
- tuple ( count, index)
- set
- dict

NameError: name 'copy' is not defined

In [12]:
list1 = []

In [13]:
print(type(list1))

<class 'list'>

In [14]:
list2 = [10,20,30]

In [15]:
list3 = [10.77,30.66,60.88]

In [16]:
list4 = [ 'one','two','three']

In [17]:
list5 = ['Asis',25,[50,100],[150,90]]  # When we are creating list in the list then its called as "Neested List"

In [18]:
list6 = [100,'Asif',17.33] # we can store different datatypes in the List

In [19]:
list7 = ['Asif',25,[50,100],[150,90],{'jhon','David'}]

In [20]:
len(list6)

3

In [21]:
# Indexing 
# There are two types of indexings 
# forword indexing and backword indexing
# forword indexing start with 0 and it is left to right
# backward indexing start with -1 and it is right to left

## list indexing

In [22]:
list2[0]

10

In [23]:
list4[0]

'one'

In [24]:
list7[::4]

['Asif', {'David', 'jhon'}]

In [30]:
list4[0][0]

'o'

In [31]:
list4[-1]

'three'

In [32]:
list5[-1]

[150, 90]

In [33]:
list2[2]

30

In [34]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'jhon'}]

 # List Slicing

In [38]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [39]:
mylist[0:3] # it will give all the elements from the list from 0 index to 3rd

['one', 'two', 'three']

In [40]:
mylist[2:5]

['three', 'four', 'five']

In [41]:
mylist[:3]

['one', 'two', 'three']

In [42]:
mylist[:2]

['one', 'two']

In [43]:
mylist[-3:] # it will return last three elements

['six', 'seven', 'eight']

In [44]:
mylist[-2:]

['seven', 'eight']

In [45]:
mylist[-1]

'eight'

In [46]:
mylist[:] # it gives the whole list elements

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# list functions

In [48]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [49]:
mylist.append('nine') # append add the element bydefoult in last

In [50]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [52]:
input('enter your name: ')

enter your name:  Abdul Rahman

'Abdul Rahman'

In [64]:
a =float(5)
print = a

In [70]:
a

5.0

In [72]:
mylist.insert(9,'ten') # insert add a element according to the given index, it can add only one element at a time

In [73]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [81]:
mylist

['one',
 'ONE',
 'one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [89]:
mylist.remove('one') # remove can delete a single element at a time 
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [87]:
mylist.remove('ONE')

In [88]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [93]:
mylist.pop() # pop remove the last element bydefoult and also can remove the given index

'eight'

In [94]:
mylist

['two', 'three', 'four', 'five', 'six', 'seven']

In [95]:
mylist.pop(5)

'seven'

In [96]:
mylist

['two', 'three', 'four', 'five', 'six']

In [98]:
mylist.append('seven',)

In [101]:
mylist.insert(0,'one')

In [102]:
mylist

['one', 'two', 'one', 'three', 'four', 'five', 'six', 'seven']

In [103]:
mylist.pop(2)

'one'

In [106]:
mylist.insert(7,'eight')

In [107]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'eight', 'eight', 'seven']

In [108]:
mylist.remove('eight')

In [109]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'eight', 'seven']

In [110]:
mylist.remove('eight')

In [111]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [112]:
mylist.insert(7,'eight')

In [113]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [116]:
del mylist[6] # del remove the specific index from the list and also can delete the whole list
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [117]:
# changeing the value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3

In [118]:
mylist

[1, 2, 3, 'four', 'five', 'six']

In [119]:
# if we have to clear the entire list the we use 'CLEAR'
mylist.clear()
mylist

[]

In [120]:
del mylist # delete the whole list
mylist

NameError: name 'mylist' is not defined

## copy list

In [121]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [122]:
mylist1 = mylist # create a new reference "mylist"

In [123]:
id(mylist),id(mylist1) # both the addreses of mylist and mylist1 will be store at same location

(2943351369664, 2943351369664)

In [124]:
mylist2 = mylist.copy() # create a  copy of the list

In [126]:
id(mylist2) # the address of this mylist2 will be different

2943353680768

In [127]:
mylist[0] = 1

In [128]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [130]:
mylist1 # it also iumpact to the mylist1 bcz as its pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [131]:
mylist2 # it won't effect to the mylist2 bcz chnages made on the orignal list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## join lists

In [132]:
list1 = ['one','two','three','four']
list2 = [ 'five','six','seven','eight']

In [133]:
list3 = list1 + list2 # joining the list by + arthemetic oprator

In [134]:
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [135]:
list1.extend(list2) #Appened the list2 with the list1 means merging the both lists 1&2

In [136]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## list membership

In [137]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [139]:
 'one' in list1 # checking the element is present or not in the list, if it is there then it will print YES or if it is not then NOT

True

In [140]:
'ten' in list1

False

In [148]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [150]:
'three' in list1

True

In [151]:
if 'three' in list1:
    print('three is present in the list1')
else:
    print('three is not present in the list1')

TypeError: 'float' object is not callable

In [146]:
if 'eleven' in list1:
    print('Three is present in the list')
else:
    print('Three is not present in the list')

TypeError: 'float' object is not callable

## Reverse and sort list

In [152]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [153]:
list1.reverse() # to reverse the list we use reverse funtion

In [154]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [155]:
list1 = list1[::-1] # Again reversing the list which already reversed
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [158]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # sort funtion arrange the item in a assending ordered manner if it is unordered
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [159]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # using sort() to arrange items in decending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [160]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)   #  sorted return new sorted list without changing to the original one

[11, 21, 33, 65, 88, 98]

In [161]:
mylist4

[88, 65, 33, 21, 11, 98]

## loop through a list

In [162]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [164]:
for i in list1:
    print(i)

TypeError: 'float' object is not callable

In [165]:
for i in enumerate(list1):
    print(i)

TypeError: 'float' object is not callable

In [167]:
list10 = ['one','two','three','four','one','one','two','three']

In [168]:
list10.count('one') # count() count the number of specific element in the list like 'one'

3

## All/Any

In [170]:
#The all() method returns:
# - True If the element is in the list
# - False If the element is not in the list

In [171]:
L1 = [1,2,3,4,0]

In [173]:
all(L1) # will return false as one value is false (0)

False

In [174]:
any(L1)

True

In [175]:
L2 = [1,2,3,4,True,False]

In [177]:
all(L2) # it will return false as one value is false

False

In [179]:
any(L2) # return true as we have items in the list with the true value

True

In [180]:
L3 = [1,2,3,True]

In [181]:
all(L3)

True

In [182]:
any(L3)

True