# Set

In [1]:
# set is unordered and unindexed collection of items 
# Set elements are unique, duplicates elements are not allowed
# set elements are immutable(not changable)
# Set itself is mutable. We can add or remove items from it

## Set Creation

In [2]:
myset = {1,2,3,4,5} # set of numbers
myset

{1, 2, 3, 4, 5}

In [3]:
type(myset)

set

In [4]:
len(myset)

5

In [6]:
my_set = {1,1,2,2,3,4,5,5} # In set duplicates items are not allowed
my_set

{1, 2, 3, 4, 5}

In [8]:
myset1 = {1.79,2.08,3.99,4.96,5.45} # set of float numbers

myset1

{1.79, 2.08, 3.99, 4.96, 5.45}

In [10]:
myset2 = {'Asif','jhon','tyrion'}  # set of strings
myset2

{'Asif', 'jhon', 'tyrion'}

In [11]:
myset3 = {10,20,'Hola',(11,22,33)} # set of mix datatypes
myset3

{(11, 22, 33), 10, 20, 'Hola'}

In [13]:
myset3 = {10,20,'Hola',[11,22,33]} # set does not allowed mutable items and items like list
myset3

TypeError: unhashable type: 'list'

In [14]:
myset4 = set() # creation of empty set
print(type(myset4))

<class 'set'>

In [15]:
my_set1 = set(('one','two','three','four'))
my_set1

{'four', 'one', 'three', 'two'}

## Loop through a set

In [16]:
myset = {'one','two','three','four','five','six','seven','eight'}

for i in myset:
    print(i)

seven
three
eight
four
six
five
one
two

In [18]:
for i in enumerate(myset): # enumatrate gives loop as well as indexing the loop items
    print(i)

(0, 'seven')
(1, 'three')
(2, 'eight')
(3, 'four')
(4, 'six')
(5, 'five')
(6, 'one')
(7, 'two')

## Set Membership

In [19]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
'one'in myset # Checking if one is present in myset or not

True

In [21]:
'ten' in myset

False

In [23]:
if 'three' in myset:                               # using if else statement in set 
    print('three is present in the set')
else:
    print('three is not present in the set')

three is present in the set

In [24]:
if 'eleven' in myset:                               # using if else statement in set 
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

## Add & Remove Items

In [25]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [26]:
myset.add('nine') # Adding items into the set
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
myset.update(['ten','eleven','twelve'])   # in set we can add only one item but here we are adding multiple items using UPDATE()
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [31]:
myset.remove('nine') # removing the items by using remove()
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [32]:
myset.discard('ten')
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [33]:
myset.clear() # Deleting the all items in the set by using Clear()
myset

set()

In [34]:
del myset  # delete the set objecct
myset

NameError: name 'myset' is not defined

## Copy Set

In [35]:
myset = {'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
myset1 = myset # craete a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
id(myset) , id(myset1)

(2051805783520, 2051805783520)

In [38]:
my_set = myset.copy() # create a copy of the set
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [40]:
id(my_set) # this 'my_set' id address will be different bcz its a copy of myset

2051805776352

In [41]:
myset.add('nine')

In [42]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
myset1 # myset1 also will impacted because we assing as == to myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [44]:
my_set # Copy of set won't get effected bcz its not orignal, changes made in original one not in this one.

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

## Set Operations

### Union

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [50]:
A | B # union of A&B its take all the elements from the a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A.union(B)  # also write as funtion() union

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
A.update(B,C)  # A will be the updated version of A B and C

In [56]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersection

In [57]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [58]:
A & B # intersection is denoted by &

{4, 5}

In [59]:
A.intersection(B) # Also can wirte in intersection()

{4, 5}

In [61]:
A.intersection_update(B)
A

{4, 5}

### Difference

In [62]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [63]:
A - B # set of element that are only avaible in A & B

{1, 2, 3}

In [64]:
B - A

{6, 7, 8}

In [65]:
B.difference(A)

{6, 7, 8}

In [67]:
B.difference_update(A)
B

{6, 7, 8}

## symmetric difference

In [68]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [69]:
A ^ B # excluded th same element

{1, 2, 3, 6, 7, 8}

In [70]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [71]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

## superset, subset and Disjoint

In [72]:
# subset element will be present in superset also it a inheritance of superset
# superset have some common elements of subset, parenting of subset
# disjoint element totally different from subset and superset

In [73]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [74]:
B.issubset(A)

True

In [75]:
A.issuperset(B)

True

In [76]:
C.isdisjoint(A)

True

In [77]:
C.isdisjoint(B)

True

In [78]:
B.isdisjoint(A)

False

In [79]:
A.isdisjoint(B)

False

In [80]:
B.isdisjoint(C)

True

In [81]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
sum(A) # sum of all the elements

45

In [86]:
max(A)  # max value in the set

9

In [87]:
min(A)  # min value in A

1

In [88]:
len(A)

9

In [89]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [ ]:
D