In [2]:
a = 10
b = 20
a
b

20

In [3]:
a = 10
b = 20
print(a)
print(b)

10
20

In [4]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1 = 20
num2 = 30
add = num1+num2
print(add)

50

# print result with string

In [9]:
num1 = 20
num2 = 30
add = num1+num2
print('the additon of' , num1, 'and', num2,'is =', add)

the additon of 20 and 30 is = 50

In [10]:
num1 = 20
num2 = 30
add = num1+num2
print('the additon of' , num1, 'and', num2,'is equal to', add)

the additon of 20 and 30 is equal to 50

In [14]:
name = 'python'
age = 20 
city = 'hyderabad'
# what we have to print is - my name is python and i'm 20 years old from hyderabad.

In [17]:
print('my name is', name, 'and i am',age, ' years old from',city)

my name is python and i am 20  years old from hyderabad

## print Format method

In [20]:
num1 = 20
num2 = 30
add=num1+num2
print('the addition of {} and {} is= {}'.format(num1,num2,add))

the addition of 20 and 30 is= 50

In [21]:
num1 = 20
num2 = 30
multiply =num1*num2
print('the multiplication of {} and {} is = {}'.format(num1,num2,multiply))

the multiplication of 20 and 30 is = 600

In [22]:
name = 'python'
age = 20 
city = 'hyderabad'
# I have to print hello my name is python and 20 years old from hyderabad

print('my name is {} and {} years old from {}'.format(name,age,city))

my name is python and 20 years old from hyderabad

In [32]:
num1= 100
num2=25
num3=333 
avg= (num1+num2+num3)/3  # the avg of num1,num2,num3
avg1=round((num1+num2+num3)/3,2) # the round fig avg

print('the sum of {} and {} and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))

the sum of 100 and 25 and 333 is = 152.66666666666666 or 152.67

round(avg,2)

152.67

In [34]:
num1= 100
num2=25
num3=333 
mul = num1*num2*num3

print('the multiplication of {} and {} and {} is = {}'.format(num1,num2,num3,avg))

the multiplication of 100 and 25 and 333 is = 152.66666666666666

In [44]:
# lets combine all 

num1= 10
num2= 20
add= num1+num2

print('the addition of',num1,"and",num2,'is =', add)
print('the addition of {} and {} is = {}'.format(num1,num2,add))
print(f'the addition of {num1} and {num2} is = {add}')

the addition of 10 and 20 is = 30
the addition of 10 and 20 is = 30
the addition of 10 and 20 is = 30

## end statement

In [42]:
print('hello') # 1st statement 
print('good morning') # 2nd statement

# here we have to print Hello good morning in a line but when we print these we'll get

hello
good morning

In [43]:
# for getting hello good morning in a line, we used end statement
print('hello',end=' ')
print('good morning')

hello good morning

## seprator

In [45]:
print('hello','hii','how are you',sep='....<')

hello....<hii....<how are you

In [49]:
print('hello', 'hii', 'how are you' ,sep= ' & ')

hello & hii & how are you

In [50]:
print( 'hello', 'hii', 'how are you', 'kem cho',sep=' @ ')

hello @ hii @ how are you @ kem cho

In [51]:
print('hello', 'hii', 'how are you' ,sep= '  ')

hello  hii  how are you

In [52]:
print(3,'.') # these value will have a gap between them when we print

3 .

In [53]:
# to remove these gap 

print(3,'.',sep='')

3.

In [56]:
print(1,2,end=' ')
print(3,'.',sep=' ')

1 2 3 .