In [3]:
tup1 = ()  # Empty tuple

In [4]:
tup2 = (30,40,50) # Tuple of Integer numbers

In [5]:
tup3 = (33.33,6.66,90.99) # tuple of Float numbers

In [6]:
tup4 = ('one','two','three') # tuple of string

In [8]:
tup6 = (100,12.712,'Asif') # tuple of mix data type

In [9]:
tup5 = ('Asif',25,(50,100),(150,90)) # nested Tuple

In [10]:
tup7 = ('Asif',25,[50,100],[150,90],{'sibu','shakti'},(99,22,33))

In [11]:
len(tup7) # length of tup[7

6

## Tuple indexing

In [14]:
tup2[0] # retrive first element of the tuple 2

30

In [15]:
tup4[0] # retreive the first element from the tuple 4

'one'

In [17]:
tup4[0][0] # Nested indexing - acess the first character of the tuple element

'o'

In [18]:
tup5[-1] # calling the last oitem from the tuple

(150, 90)

# Tuple slicing

In [19]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [20]:
mytuple[0:3] # Return all element from o to 3rd index

('one', 'two', 'three')

In [21]:
mytuple[:3] # return the first three items

('one', 'two', 'three')

In [22]:
mytuple[:2]

('one', 'two')

In [24]:
mytuple[-3:] # return last three item

('six', 'seven', 'eight')

In [25]:
mytuple[-2:]

('seven', 'eight')

In [26]:
mytuple[-1]

'eight'

In [27]:
mytuple[-3]

'six'

In [28]:
mytuple[:] # return the whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove and change items

In [29]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [30]:
del mytuple[0] # tuple are immutable which means we cannot del or chnage the items

TypeError: 'tuple' object doesn't support item deletion

In [31]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [32]:
del mytuple # deleting the entire tuple object is possible

In [33]:
mytuple

NameError: name 'mytuple' is not defined

In [34]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [35]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# loop through a tuple

In [36]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [37]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [38]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple membership

In [39]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [40]:
'one' in mytuple # checking if one exist in the list if yes then its print true

True

In [41]:
'ten' in mytuple # checking the ten if not the it will print False

False

In [42]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the Tuple')

Three is present in the tuple

In [43]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the Tuple')

eleven is not present in the Tuple

# Index position

In [44]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [45]:
mytuple.index('one') # Index of first element equal to one,'index' gives index postion of the element

0

In [46]:
mytuple.index('five')

4

In [48]:
mytuple1 = ('one','two','three','four','one','one','three','four')
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'three', 'four')

In [49]:
mytuple.index('one')

0

# Shrting

In [50]:
mytuple2 = (43,67,99,12,90,67)
mytuple2

(43, 67, 99, 12, 90, 67)

In [51]:
sorted(mytuple2) # sorted the tuple elemenet

[12, 43, 67, 67, 90, 99]

In [52]:
sorted(mytuple2,reverse=True) # sorted in decending order

[99, 90, 67, 67, 43, 12]